<h1><%= @applicant.name %></h1>

<p><h3 style='display:inline;'>Address:</h3><br>
            <%= @applicant.street %> <br>
            <%= @applicant.city %>, <%= @applicant.state %>, <%= @applicant.zip %>
</p>

<p><h3 style='display:inline;'>Personal Statement:</h3><br>
    <%= @applicant.personal_statement %>
</p>

<p><h3 style='display:inline;'>Desired Pets:</h3><br>
    <% @applicant.pets.each do |pet| %>
        <%= link_to pet.name, "/pets/#{pet.id}" %>
    <% end %>
</p>

<p>Application Status: <%= @applicant.status %></p>