<h1><%= @applicant.name %></h1>

<div id='address'><h3>Address:</h3><br>
            <%= @applicant.street %> <br>
            <%= @applicant.city %>, <%= @applicant.state %>, <%= @applicant.zip %>
</div>

<p><h3>Personal Statement:</h3><br>
    <%= @applicant.personal_statement %>
</p>

<p><h3>Desired Pets:</h3><br>
    <% @applicant.pets.each do |pet| %>
        <%= link_to pet.name, "/pets/#{pet.id}" %> <br>
    <% end %>
</p>

<% if @applicant.status == 'In Progress' %>
    <div>
        <h3>Add a Pet to this Application</h3>
        <%= render partial: "form", locals: {path: "/applicants/#{@applicant.id}", method: :get, param: :pet_name} %>
        <div id="potential_pets">
            <% if @pets %>
                <% @pets.each do |pet| %>
                    <%= pet.name %>
                    <%= button_to 'Adopt this Pet', "/applicants/#{@applicant.id}", method: :patch, params: {pet_id: pet.id} %>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>

<p id='status'>Application Status: <%= @applicant.status %></p> <br>

<% if @applicant.pets.count > 0 && @applicant.status == 'In Progress' %>
    <%= button_to 'Submit Application', "/applicants/#{@applicant.id}/submit", method: :patch %>
<% end %>