<h1><%= @applicant.name %></h1>

<div id='address'><h3>Address:</h3><br>
            <%= @applicant.street %> <br>
            <%= @applicant.city %>, <%= @applicant.state %>, <%= @applicant.zip %>
</div>

<p><h3>Personal Statement:</h3><br>
    <%= @applicant.personal_statement %>
</p>

<p><h3>Desired Pets:</h3><br>
    <% @applicant.pets.each do |pet| %>
        <div id="<%= pet.name %>">
            <%= link_to pet.name, "/pets/#{pet.id}" %>
            <%= render partial: "button",  locals: {
                path: "/admin/applicants/#{@applicant.id}", 
                method: :patch, text: 'Approve Application', 
                params: {application_status: 'Approved'} 
                } %>
            <%= render partial: "button",  locals: {
                path: "/admin/applicants/#{@applicant.id}", 
                method: :patch, text: 'Reject Application', 
                params: {application_status: 'Rejected'} 
                } %>
        </div>
    <% end %>
</p>

<p id='status'>Application Status: <%= @applicant.status %></p> 